:host ::ng-deep .p-button{
    border: none;
    background-color: transparent;
    color: #2c2b2b; 
    /* background: #2196F3; */
    /* border: 1px solid #2196F3; */
    padding: 0.5rem 1rem;
    font-size: 1rem;
    animation: none;
  
    /* border-radius: 3px; */
}
:host ::ng-deep .p-button :hover{
    border: none;
    background-color: transparent;
    color: #2c2b2b; 
    /* color: #ffffff; */
    /* background: #2196F3; */
    /* border: 1px solid #2196F3; */
    padding: 0.5rem 1rem;
    font-size: 1rem;
  animation: none;
    /* border-radius: 3px; */
}


