
<p-sidebar [(visible)]="display">
   
    <ul class="navbar-nav flex-column">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Clendar</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Gallary</a>
        </li>

    </ul>
</p-sidebar>
<p-button type="text" (click)="display = true" class="p-button" icon="pi pi-align-left" style="background-color: transparent;" ></p-button>
